{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ConnectedIn</title>

    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>
    <!-- Container -->
    <div class="container">
        <!-- Header -->
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'index' %}">{{ logged_profile.name }}</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
            <h3 class="text-muted">ConnectedIn</h3>
        </div>
        <!-- End Header -->

        <!-- Content -->
        <div class="row content">
            {% block body %} {% endblock body %}
        </div>
        <!-- End Content -->
    </div>
    <!-- End Container -->
</body>

</html>