{% extends "base.html" %} 

{% block body %}

<!-- Content -->
<div class="row">

    <div class="col-lg-12">
        <h2 style="margin-top: 0">{{ profile.name }}</h2>

        <!-- Address -->
        <address>
            <strong>{{ profile.name_company }}</strong><br>
            <abbr title="Telefone">Tel:</abbr> {{ profile.phone }} <br>
            <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
        </address>
        <!-- End Address -->

        <a href="{% url 'invite' profile.id %}">Convidar</a>
    </div>
</div>
<!-- End Content -->

{% endblock body %}